.permission-setting {
  background: #000;
}

.permission-setting section {
  width: 316px;
  margin: 71px auto 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.permission-setting-help {
  color: #aeb5c9;
  font-size: 13px;
  line-height: 1.5;
}
