.header {
  width: 100%;
  padding: 24px 20px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header h1 {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
}

.icon-button {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}
