.help-question-item {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid #455269;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: 49px auto;
  align-items: center;
  text-align: left;
}

.help-question-item b {
  color: #6366f1;
}

.help-question-item span {
  font-size: 12px;
}

.help-question-item .icon {
  transition: transform 180ms ease;
}

.help-question-item.open .icon {
  transform: rotate(90deg);
}

.help-question-item .help-answer {
  display: block;
  grid-column: 1 / -1;
  color: #9ca3af;
  font-size: 10px;
  line-height: 16px;
  padding: 0 0 14px;
}
