.setting-block {
  border-radius: 13px;
  background: #202b3d;
  padding: 10px 20px;
}

.setting-block.single {
  padding-top: 5px;
  padding-bottom: 5px;
}

.setting-block button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
